.ui.teal.ribbon.label {
    border-color: rgba(0, 0, 0, 0.5)!important;
}
.ui.teal.label, .ui.teal.labels .label {
    background-color: rgba(0, 0, 0, 0.5)!important;
    border-color: rgba(0, 0, 0, 0.5)!important;
    color: #fff!important;
}
.ui.ribbon.label {
    border-color: rgba(0,0,0,1.15) !important;
}