.headerHome{
    z-index: 500;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.inner-header{
    width: 200px;
    z-index: 500;
    position: absolute;
    color:white;
    text-align: center;
    top:100px;
    left: 50%;
    transform: translateX(-50%);
}
